bin/
obj/
*.pidb
*.userprefs
*.suo
/.vs
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/sharpsdl2.metadata.v7.bin
/.vs/ProjectEvaluation/sharpsdl2.projects.v7.bin
/.vs/SharpSDL2
/.vs/SharpSDL2/DesignTimeBuild
/.vs/SharpSDL2/DesignTimeBuild/.dtbcache.v2
/.vs/SharpSDL2/FileContentIndex
/.vs/SharpSDL2/FileContentIndex/22ced7ba-e72f-49ea-a144-f6bf963284c2.vsidx
/.vs/SharpSDL2/FileContentIndex/read.lock
/.vs/SharpSDL2/v17
/.vs/SharpSDL2/v17/.futdcache.v2
/.vs/SharpSDL2/v17/.wsuo
/.vs/VSWorkspaceState.json
